beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
gensim==4.3.2
idna==3.6
numpy==1.26.4
requests==2.31.0
scipy==1.12.0
smart-open==6.4.0
snowballstemmer==2.2.0
soupsieve==2.5
urllib3==2.2.0
